# Server Port
PORT=5000

# Access token for the GitHub API (requires permissions to access the repository)
# If the repository is public you do not need to provide an access token
# you can also use GITHUB_USERNAME and GITHUB_PASSWORD
GITHUB_TOKEN=...

# ID for the GitHub repository
GITHUB_REPO=Username/MyApp

# GitHub Webhook Secret
GITHUB_SECRET=secret

# GitHub endpoint if you are on GitHub Enterprise
GITHUB_ENDPOINT=

# Authentication for the private API
API_USERNAME=hello
API_PASSWORD=world

# Express's "trust proxy" setting for trusting X-Forwarded-* headers when
# behind a reverse proxy like nginx
# http://expressjs.com/en/guide/behind-proxies.html
TRUST_PROXY=loopback

# Versions timeout and cache (optional)
VERSIONS_TIMEOUT=
VERSIONS_CACHE=

# Analytics download event and token (optional)
ANALYTICS_EVENT_DOWNLOAD=
ANALYTICS_TOKEN=